$mainColor: #0ead69;
$backgroundColor: #252525;
$secondaryBackgroundColor: #f7f7f7;
$textColor: #f7f7f7;
$secondaryTextColor: #252525;

$disabledLightGrey: #cecece;
$disabledDarkGrey: #757575;

$blueLight: #eff3ff;
$blueMediumLight: #bdd7e7;
$blueMedium: #6baed6;
$blueMediumDark: #3182bd;
$blueDark: #08519c;

$categoryColor1: #377eb8;
$categoryColor1: #4daf4a;
$categoryColor1: #984ea3;
$categoryColor1: #a65628;
$categoryColor1: #e41a1c;
$categoryColor1: #ff7f00;
$categoryColor1: #ffff33;

$panelBoxShadow: -5px 5px 10px rgba(19, 19, 19, 0.2),
	5px -5px 10px rgba(19, 19, 19, 0.2), -5px -5px 10px rgba(56, 56, 56, 0.9),
	5px 5px 13px rgba(19, 19, 19, 0.9), inset 1px 1px 2px rgba(56, 56, 56, 0.3),
	inset -1px -1px 2px rgba(19, 19, 19, 0.5);

$panelBorderRadius: 5px;
$elementBorderRadius: 2px;

$paneWidth: 1440px;
$panelHeight: 1024px;
