@import "./sass/variables.scss"; 

.main-panel {
  width: $paneWidth;
  height: $panelHeight;
}

div[class*="-panel"] {
  position: absolute;
  color: $textColor;
  background-color: $backgroundColor;
  box-sizing: border-box;
  
  &:not([class="main-panel"]){
    box-shadow: $panelBoxShadow;
    border-radius: $panelBorderRadius;
  }
}

.map-panel {
  width: 910px;
  height: 610px;

  top: 20px;
  left: 20px;
}

.category-panel {
  width: 470px;
  height: 166px;

  top: 20px;
  left: 950px;

  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  
  .category-selection {
    height: 65px;
    
    label:not([class="container"]) {
      display: block;
      width: 100%;
      margin-bottom: 15px;
    }

    select {
      width: 395px;
      height: 30px;

      padding: 0 10px;

      font-size: 16px;
      font-weight: 400;

      color: $secondaryTextColor;
      background-color: $secondaryBackgroundColor;
      border-radius: $elementBorderRadius;
      border: none;
      border-right: 10px solid transparent;

      vertical-align: top;

      &:focus {
        outline: none;
      }

      div.header {
        display: none;
      }
    }
  }
  
  .importance-factor-selection {
    label {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }

    .thumb {
      position: absolute;
      width: 11px;
      height: 11px;
      background-color: $mainColor;
      border-radius: 50px;
      bottom: 23px;
      pointer-events: none;
    }

    input[type=range] {
      -webkit-appearance: none;
      margin: 0;
      width: 360px;

      &:focus {
        outline: none;
      }
      
      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        background: $secondaryBackgroundColor;
        border-radius: 0;
        border: 0;
        overflow: hidden;
      }
      
      &::-webkit-slider-thumb {
        height: 1px;
        width: 1px;
        border-radius: 50px;
        background: $secondaryBackgroundColor;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -3px;
  
        box-shadow: -355px 0 0 360px $mainColor;
      }
      
      &:focus::-webkit-slider-runnable-track {
        background: $secondaryBackgroundColor;
      }
  
      &:focus::-webkit-slider {
        background: $secondaryBackgroundColor;
      }
      
      &::-moz-range-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        background: $mainColor;
        border-radius: 0;
        border: 0;
        box-shadow: transparent;
      }
      
      &::-moz-range-thumb {
        height: 11px;
        width: 11px;
        border-radius: 50px;
        background: $mainColor;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -3px;
      }
      
      &::-ms-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        background: $mainColor;
        border-radius: 0;
        border: 0;
        color: transparent;
      }
      
      &::-ms-fill-lower {
        width: 100%;
        height: 9px;
        cursor: pointer;
        background: $mainColor;
        border-radius: 5px;
        border: 0;
      }
      
      &::-ms-fill-upper {
        width: 100%;
        height: 9px;
        cursor: pointer;
        background: $secondaryBackgroundColor;
        border-radius: 5px;
        border: 0;
      }
      
      &::-ms-thumb {
        height: 11px;
        width: 11px;
        border-radius: 50px;
        background: $mainColor;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -3px;
      }
      
      &:focus::-ms-fill-lower {
        background: $mainColor;
      }
      
      &:focus::-ms-fill-upper {
        background: $secondaryBackgroundColor;
      }
    }
    
    input[type=number] {
      max-width: 70px;
      min-height: 30px;
      max-height: 30px;
      padding: 2px 8px 0 8px;
      box-sizing: border-box;

      font-size: 16px;
      font-weight: 400;

      color: $secondaryTextColor;
      background-color: $secondaryBackgroundColor;
      border: none;
      border-radius: $elementBorderRadius;
      
      margin: 0;
      margin-left: 10px;

      vertical-align: middle;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        margin: 0;
        opacity: 1;
      }

      &:focus {
          outline: none;
      }
    }

  }
}

.parameter-panel {
  width: 470px;
  height: 424px;

  top: 206px;  
  left: 950px;
}

.parallel-panel {
  width: 800px;
  height: 354px;

  top: 650px;
  left: 20px;
}

.histogram-panel {
  width: 580px;
  height: 354px;

  top: 650px;
  left: 840px;
}
